@font-face {
  font-family: "Oswald-Bold";
  src: url(fonts/Oswald-Bold.woff) format("woff"),
    url(fonts/Oswald-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Oswald-Light";
  src: url(fonts/Oswald-Light.woff) format("woff"),
    url(fonts/Oswald-Light.woff2) format("woff2");
}

@font-face {
  font-family: "Oswald-Medium";
  src: url(fonts/Oswald-Medium.woff) format("woff"),
    url(fonts/Oswald-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Oswald-Light";
  src: url(fonts/Oswald-Regular.woff) format("woff")
    url(fonts/Oswald-Regular.woff2) format("woff2");
}
* {
  padding: 0;
  margin: 0;
}
p {
  font-family: "Oswald-Light", Arial, sans-serif;
}

main {
  padding-top: 1rem;
}

html {
  font-size: 100%;
}

.nav_bar {
  width: 100%;
}

.logo {
  display: inline-block;
  padding: 0.5rem 0 0.5rem 0.5rem;
  vertical-align: middle;
  width: 15%;
}

.logo img {
  height: auto;
  width: 100%;
}
.nav {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
}

.all_navigation::after {
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
  width: 100%;
}

.all_navigation li {
  list-style: none;
  display: inline-block;
}

.nav_bar_links_ul li {
  font-family: "Oswald-Regular", Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav_bar_links_ul li,
a {
  text-decoration: none;
}

a.contact {
  padding-right: 1rem;
}

.nav_bar_links_ul .menulinks li {
  margin-left: 0.5rem;
}

.menulinks {
  margin-left: 2.25rem;
}

h2.first {
  font-family: "Oswald-Regular", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 1rem 0.2rem 0.5rem 0.2rem;
  padding: 0 0.2rem;
  text-align: center;
  text-decoration: underline;
}

h2.OM {
  font-family: "Oswald-Bold", Arial, sans-serif;
  font-size: 1.15rem;
  margin: 1rem 0.2rem 0.5rem 0.2rem;
  padding: 0 0.2rem;
  text-align: center;
  text-decoration: solid black underline;
}

.bodytext {
  font-size: 1rem;
  font-weight: 250;
  margin: 0.25rem 0.5rem;
  padding: 0.5rem 0.25rem;
}

.CCG {
  font-family: "Oswald-Bold", Arial, sans-serif;
  font-size: 4rem;
  line-height: 3.25rem;
  margin: 6rem 0.2rem 3rem 0.2rem;
  padding: 0 0.2rem;
}

.lnked {
  display: inline-block;
  height: auto;
  max-width: 2rem;
  vertical-align: middle;
}

.email {
  display: inline-block;
  height: auto;
  max-width: 2rem;
  vertical-align: middle;
}

.social {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.sow {
  font-size: 1.5rem;
  margin: 1rem 0.2rem 2rem 2.5rem;
  padding: 1rem 0.2rem;
}

a:link,
a:visited {
  color: black;
}

a.sow:link,
a.sow:visited {
  color: black;
  font-family: "Oswald-Light", Arial, sans-serif;
  font-weight: lighter;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
}

.column1 {
  float: left;
  width: 50%;
}
.column2 {
  float: left;
  width: 33%;
}

.row {
  clear: both;
  content: "";
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  min-height: 1rem;
  overflow: hidden;
  width: 100%;
}

.faceimage {
  height: auto;
  width: 100%;
}

.mainimagecont {
  box-shadow: 0.01rem 0.01rem 0.25rem grey;
  display: block;
  margin: auto;
  overflow: hidden;
  width: 90%;
}

.mainimagecont_parnassus img {
  box-shadow: 0.01rem 0.01rem 0.25rem grey;
  display: block;
  margin: 0.5rem auto;
  max-height: 100%;
  max-width: 95%;
  overflow: hidden;
}

.mainimagecont img {
  height: auto;
  vertical-align: top;
  width: 100%;
}

.contact_ul {
  padding: 1rem 4rem 1rem 4rem;
}

.contact_ul li {
  align-items: center;
  border: solid black 0.15rem;
  box-shadow: 0.01rem 0.01rem 0.25rem grey;
  color: black;
  font-family: "Oswald-Medium", Arial, sans-serif;
  font-size: 1rem;
  list-style: none;
  margin: 2rem 0rem;
  padding: 0.5rem 0.75rem 0.5rem;
  text-align: center;
  text-decoration: none;
}

.home_description {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
}

.home_description_full::after {
  clear: both;
  content: "";
  display: table;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
}

.home_description_full li {
  list-style: none;
  display: inline-block;
}

.description_items {
  padding: 0.5rem;
}

.description_items li {
  font-family: "Oswald-Regular", Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.description_items li,
a {
  text-decoration: none;
}

.portfolio_links_ul {
  margin-top: 1rem;
}

.portfolio_links_ul li {
  border: solid black 0.15rem;
  box-shadow: 0.01rem 0.01rem 0.25rem grey;
  color: black;
  font-family: "Oswald-Medium", Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  height: auto;
  line-height: 3rem;
  list-style: none;
  margin: 2rem auto;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 90%;
}
